<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="edit.css">
  </head>
  <body>
    <form method="GET" action="/">
              <div class="">
                  <button type="submit" class="btn btn-dark btn-lg download-button" id="logout"><div class="nav-linker">Update doctor appointment</div></button>
              </div>
              <br>
              <div class="">
                  <button type="submit" class="btn btn-dark btn-lg download-button" id="logout"><div class="nav-linker">Delete doctor appointment</div></button>
              </div>
              <br>
              <div class="">
                  <button type="submit" class="btn btn-dark btn-lg download-button" id="logout"><div class="nav-linker">Update lab appointment</div></button>
              </div>
              <br>
              <div class="">
                  <button type="submit" class="btn btn-dark btn-lg download-button" id="logout"><div class="nav-linker">Delete lab appointment</div></button>
              </div>

    </form>
  </body>
</html>
