<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FAILURE</title>
  </head>
  <body>
    <h2>APPOINTMENT NOT POSSIBLE!!!..</h2>
    <p>We deeply regret for the inconvenience caused, but you cannot book any appointment  since there are no doctors with the requested proficiency available in this city.</p>

    <form method="GET" action="/doctor">
      <button type="submit" class="" ><div class="">Back to Doctor appointments</div></button>
  </form>
  </body>
</html>
