<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FAILURE</title>
    <link rel="stylesheet" href="failure_doc2.css">
  </head>
  <body>
    <h2>APPOINTMENT NOT POSSIBLE!!!..</h2>
    <p>We deeply regret for the inconvenience caused, but you cannot book this appointment slot since someone else has already booked this slot earlier.</p>

    <form method="GET" action="/doctor">
      <button type="submit" class="" ><div class="">Back to appointments</div></button>
  </form>
  </body>
</html>
