<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Lab Testing</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="labTest.css">

</head>

<body>

  <div class="labTest-form">
    <h1>Lab Testing</h1>
    <form action="/labTest" method="POST" autocomplete="off">
      <input type="text" name="userID" placeholder="USERID" required>
      <input type="text" name="TestID" placeholder="TestName" required>
      <input type="text" name="City" placeholder="City" required>
      <input type="text" list="timings" name="Timings" placeholder="Timings" required>
      <datalist id="timings">
        <option value="1000">
        <option value="1100">
        <option value="1200">
        <option value="1400">
        <option value="1500">
        <option value="1600">
        <option value="1700">
        <option value="1800">
        <option value="1900">
        <option value="2000">
      </datalist>
      <input type="text" list="labs" name="Lab" placeholder="Lab" required>
      <datalist id="labs">
        <option value=" DR LAL PATHLABS">
        <option value="SRL DIAGNOSTICS">
        <option value="SUBURBAN DIAGNOSTICS">
        <option value="THYROCARE">
        <option value="MEDALL HEALTHCARE PVT LTD">
        <option value="ONCQUEST LABORATORIES LIMITED">
        <option value="HITECH DIAGNOSTIC CENTRE">
        <option value="VIJAYA DIAGNOSTIC CENTRE">
        <option value="LUCID MEDICAL DIAGNOSTICS">
        <option value="METROPOLIS">
      </datalist>
      <input type="date" name="Date" placeholder="date" required>
      <br><br>
      <input type="submit" value="Check Availability">
    </form>






    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>
