body{
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(120deg,#2980b0,#8e44ad);
    height: 100vh;
    overflow: hidden;
}

button{
    font-size: 30px;
    background-color: #d07bd8;
    border-radius: 50px;
}